* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #001f3f; /* Bleu marine */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  text-align: center;
}

.content {
  background-color: rgba(255, 255, 255, 0.05); /* Très léger fond blanc pour un effet élégant */
  padding: 2rem;
  border-radius: 20px;
  border: 5px solid goldenrod;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: goldenrod; /* Titre en goldenrod */
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #ffcccb; /* Rose bonbon subtil pour le texte */
}

/* Pendulum CSS */
.base {
  width: 500px;
  border-top: 5px solid goldenrod; /* Bordure élégante en or */
  margin: auto;
  text-align: center;
  position: relative;
  padding: 0 0 30px;
}

.holder {
  width: 30px;
  height: 20px;
  background: goldenrod;
  margin: auto;
  border-radius: 0 0 50% 50%;
}

.thread {
  display: inline-block;
  width: 2px;
  height: 200px;
  background: goldenrod;
  border-radius: 5px;
  position: relative;
  transform-origin: 50% 0;
  animation: moveIt 2.5s ease-in-out infinite;
}

.pendulum {
  width: 20px;
  height: 20px;
  background: radial-gradient(circle at 70% 35%, white, goldenrod 30%, goldenrod 50%);
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: -9px;
  transition: transform 0.3s ease;
}

.pendulum:hover::before {
  content: "Hello World";
  position: absolute;
  bottom: -50px;
  left: -45px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
}

.shadow {
  width: 30px;
  height: 15px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 50px auto 0;
  animation: moveShade 1.25s ease-in-out alternate infinite;
}

@keyframes moveIt {
  0%, 100% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-35deg);
  }
}

@keyframes moveShade {
  0% {
    transform: translateX(-220px) scale(1.4, .5);
    filter: blur(20px);
  }
  50% {
    filter: blur(3px);
  }
  100% {
    transform: translateX(220px) scale(1.4, .5);
    filter: blur(20px);
  }
}

@media (max-width: 768px) {
  .content {
    padding: 1.5rem;
    border-radius: 15px;
    max-width: 80%;
    margin: auto;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .base {
    max-width: 200px;
    border-top: 2px solid goldenrod;
  }

  .thread {
    height: 120px;
  }

  .pendulum {
    width: 15px;
    height: 15px;
  }

  .shadow {
    width: 20px;
    height: 10px;
  }
}